.recipe {
    margin: auto;
    padding: 50px;
    width: 500px;
    height: 500px;
    text-align: center;
}
h1 {
    color: #fa591a;
    text-align: center;
    font-family: verdana;
    font-size: 48px;
}
.recipeTitle {
    text-align: center;
}
.examples{
    margin-left: 40px;
    margin-right: 40px;
}

.examples, li {
    margin: 20px;
    text-align: left;
}
